

@media screen and (max-width : 576px) {
   
     body{
        padding: 0 15px;
        margin: 0 auto;
     }
     .explore-selection-content,
     .popular-container,
     .choose-icon-container,
     .simple-parfect-section,
     .news-latter-section,
     nav
     {
         flex-direction: column;
        
     }
     nav{
      padding: 0px 20px;
      text-align: center;
     }
     .discount-content-div13{
      width: 70%;
     
      text-align: center;
      margin: 0px ;
      padding: 10px;
     }
     .simple-parfect-section,
     .news-latter-section{
        gap: 40px;
     }
     .icon-content-div{
        width: 80%;
     }
     .icon-description{
        width: 200px;
     }
     .explore-title ,.explore-description{
        padding: 0px 10px;
        margin: 5px;
     }
   
     select{
        margin-bottom: 10px;
     }
     .news-latter-img-content{
        width: 100%;
    }
  
}

@media screen and (max-width : 922px) and (min-width:576)  {
    .explore-selection-content,
    .popular-container,
    .simple-parfect-section,
    .news-latter-section,
    nav{
        flex-direction: column;
    }
  
   main{
      text-align: center;
   }
   
}